.oil-card {
    height: 200px;
    background-color: #8F9779; /* Earthy green */
    color: #A67B5B; /* Earthy brown */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .oil-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 2px solid #2E4A2C; /* Earthy green */
  }
  
  .oil-card h2 {
    font-size: 1.5em;
    color: #2E4A2C; /* Earthy green */
  }
  
  .oil-card p {
    font-size: 1em;
    color: #2E4A2C; /* Earthy green */
  }
  
  .oil-card h3 {
    font-size: 1.2em;
    margin-top: 10px;
    color: #2E4A2C; /* Earthy green */
  }
  
  .oil-card ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .oil-card li {
    font-size: 0.9em;
    color: black /* Earthy brown */
  }
  