/* src/Styles/Sidebar.css */

.sidebar {
    background-color: #e8f5e9; /* Light green background */
    padding: 1rem;
    border-right: 2px solid #8bc34a; /* Darker green border */
    width: auto; /* Fixed width for sidebar */
    display: flex;
    height: 100%; /* Full height */
  }
  .NavBar {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row; /* Ensures items are in a row */
  }
  .NavBar li {
    margin-right: 10px; /* Adjust spacing between items */
  }
  .NavBar li:last-child {
    margin-right: 0; /* Remove margin from the last item */
  }
  
  .sidebar h2 {
    color: #4caf50; /* Darker green text */
  }
  
  .sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
  }
  
  .sidebar li {
    margin: 1rem 0; /* Spacing between links */
  }
  
  .sidebar a {
    text-decoration: none; /* Remove underline from links */
    color: #388e3c; /* Dark green link color */
  }
  
  .sidebar a:hover {
    color: #1b5e20; /* Darker green on hover */
  }
  